footer {
	background-color: #414142;
	color: #fff;
	position: absolute;
    width: 100%;
    height: auto;
    padding: 30px 0;
    top: 1900px;
	li {
		display: inline;
		padding-left: 15px;
		padding-right: 15px;
		a:hover {
			color: green;
		}
	}
    .left-side {
    	padding-top: 30px;
    }
    .all_rights_reserved {
    	font-size: 13px;
    	text-align: center;
    }
}